<div>
  <div fxLayout="row" fxLayoutAlign="end start">
    <button mat-icon-button (click)="closeModule()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-toolbar color="primary">Add New Manufacturer</mat-toolbar>
  <form [formGroup]="manufacturer" (ngSubmit)="createManufacturer()"
        fxLayout="column" fxFlexFill>
    <mat-form-field floatLabel="never">
      <input matInput placeholder="hire point name" formControlName="manufacturerName">
      <mat-error *ngIf="manufacturer.get('manufacturerName').errors?.error">
        {{manufacturer.get('manufacturerName').errors?.error}}
      </mat-error>
    </mat-form-field>
    <button mat-raised-button>Create</button>
  </form>
</div>
