<div class="side-bar">
  <div class="logo">
    <img src="favicon.ico"/>
  </div>
  <div class="side-content">
    <ul>
      <li>first</li>
      <li>second</li>
      <li>third</li>
    </ul>
  </div>
</div>
