<mat-toolbar color="primary">
  <span>
    <a mat-button routerLink="">Eagle-Eye</a>
  </span>
  <span class="spacer"></span>
  <span *ngIf="!authentication.isLoggedIn()">
    <a mat-button routerLink="auth/login">Login</a>
    <a mat-button routerLink="auth/register">Register</a>
  </span>
  <span *ngIf="authentication.isLoggedIn()">
    <a mat-button routerLink="/logout" (click)="authentication.logout()">Logout</a>
  </span>
</mat-toolbar>
