<div class="search-div">
  <button mat-raised-button (click)="openDialog()">
    <mat-icon>add</mat-icon> Create
  </button>
  <mat-form-field class="search-form-field"
    floatLabel="never">
    <input matInput [(ngModel)]="searchkey" placeholder="search hire point"
    autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="clear"
            *ngIf="searchkey"
            (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="hirepoint" matSort>
    <ng-container matColumnDef="hirePointName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Hire Point</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.hirePointName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="address1">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.address1}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Country</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.country}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.city}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="postcode">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Post Code</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.postcode}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="mobileNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile Number</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.mobileNumber}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="editHirePoint(element.id)">
          <mat-icon>launch</mat-icon>
        </button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[5,10,15]" pageSize="5"></mat-paginator>
</div>
