<div class="search-div">
  <button mat-raised-button (click)="openDialog()">
    <mat-icon>add</mat-icon> Create
  </button>
  <mat-form-field class="search-form-field"
                  floatLabel="never">
    <input matInput [(ngModel)]="searchkey" placeholder="search hire point"
           autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="clear"
            *ngIf="searchkey"
            (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="manufacturer" matSort>
    <ng-container matColumnDef="manufacturerName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturer</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.manufacturerName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="editManufacturer(element.id)">
          <mat-icon>launch</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[5,10,15]" pageSize="5"></mat-paginator>
</div>
