<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/vehicle">
        <mat-icon matlisticon>commute</mat-icon>
        Vehicles
      </a>
      <a mat-list-item routerLink="/user">
        <mat-icon matlisticon>account_box</mat-icon>
        Users
      </a>
      <a mat-list-item routerLink="/bookings">
        <mat-icon matlisticon>book</mat-icon>
        Bookings
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
