<div>
  <div fxLayout="row" fxLayoutAlign="end start">
    <button mat-icon-button (click)="closeModule()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-toolbar color="primary">Add New Hire Point</mat-toolbar>
  <form [formGroup]="hirePoint" (ngSubmit)="createHirePoint()"
        fxLayout="column" fxFlexFill>
    <mat-form-field floatLabel="never">
      <input matInput placeholder="hire point name" formControlName="hirePointName">
      <mat-error *ngIf="hirePoint.get('hirePointName').errors?.error">
        {{hirePoint.get('hirePointName').errors?.error}}
      </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="never">
      <input matInput placeholder="address1" formControlName="address1">
      <mat-error *ngIf="hirePoint.get('address1').errors?.error">
        {{hirePoint.get('address1').errors?.error}}
      </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="never">
      <input matInput placeholder="address2" formControlName="address2">
    </mat-form-field>
    <div fxLayout="row">
      <mat-form-field class="address" floatLabel="never">
        <input matInput placeholder="Country" formControlName="country">
        <mat-error *ngIf="hirePoint.get('country').errors?.error">
          {{hirePoint.get('country').errors?.error}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="address" floatLabel="never">
        <input matInput placeholder="city" formControlName="city">
        <mat-error *ngIf="hirePoint.get('city').errors?.error">
          {{hirePoint.get('city').errors?.error}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="address" floatLabel="never">
        <input matInput placeholder="postcode" formControlName="postcode">
        <mat-error *ngIf="hirePoint.get('postcode').errors?.error">
          {{hirePoint.get('postcode').errors?.error}}
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field floatLabel="never">
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="hirePoint.get('email').errors?.error">
        {{hirePoint.get('email').errors?.error}}
      </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="never">
      <input matInput placeholder="Mobile Number" formControlName="mobileNumber">
      <mat-error *ngIf="hirePoint.get('mobileNumber').errors?.error">
        {{hirePoint.get('mobileNumber').errors?.error}}
      </mat-error>
    </mat-form-field>
    <button mat-raised-button>Create</button>
  </form>
</div>
