<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!--<div class="container" fxLayout="column">-->
<!--  <div class="header">-->
<!--    <app-header></app-header>-->
<!--  </div>-->
<!--  <div class="contents">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<!--  <div class="footer">-->
<!--    <app-footer></app-footer>-->
<!--  </div>-->
<!--</div>-->
