<div class="register-main-div"
fxLayoutAlign="center center">
  <mat-card fxFlex="40">
    <mat-toolbar>Error message</mat-toolbar>
    <mat-card-content>
     <form fxLayout="column" fxLayoutAlign="stretch"
     [formGroup]="registerForm" (ngSubmit)="registerUser()">
       <mat-form-field appearance="outline">
         <mat-label>First Name</mat-label>
         <input matInput formControlName="firstName">
         <mat-error *ngIf="registerForm.get('firstName').errors?.error">
           {{registerForm.get('firstName').errors?.error}}
         </mat-error>
       </mat-form-field>
       <mat-form-field appearance="outline">
         <mat-label>Middle Name</mat-label>
         <input matInput formControlName="middleName">
         <mat-error *ngIf="registerForm.get('middleName').errors?.error">
           {{registerForm.get('middleName').errors?.error}}
         </mat-error>
       </mat-form-field>
       <mat-form-field appearance="outline">
         <mat-label>Last Name</mat-label>
         <input matInput formControlName="lastName">
         <mat-error *ngIf="registerForm.get('lastName').errors?.error">
           {{registerForm.get('lastName').errors?.error}}
         </mat-error>
       </mat-form-field>
       <mat-form-field appearance="outline">
         <mat-label>Email</mat-label>
         <input matInput formControlName="email">
         <mat-error *ngIf="registerForm.get('email').errors?.error">
           {{registerForm.get('email').errors?.error}}
         </mat-error>
       </mat-form-field>
       <mat-form-field appearance="outline">
         <mat-label>Mobile Number</mat-label>
         <input matInput formControlName="mobileNumber">
         <mat-error *ngIf="registerForm.get('mobileNumber').errors?.error">
           {{registerForm.get('mobileNumber').errors?.error}}
         </mat-error>
       </mat-form-field>
       <mat-form-field appearance="outline">
         <mat-label>Password</mat-label>
         <input matInput formControlName="password" type="password">
         <mat-error *ngIf="registerForm.get('password').errors?.error">
           {{registerForm.get('password').errors?.error}}
         </mat-error>
       </mat-form-field>
       <mat-form-field appearance="outline">
         <mat-label>Re-password</mat-label>
         <input matInput formControlName="re_password" type="password">
         <mat-error *ngIf="registerForm.get('re_password').errors?.error">
           {{registerForm.get('re_password').errors?.error}}
         </mat-error>
       </mat-form-field>

       <button mat-raised-button color="primary">Register</button>
     </form>
    </mat-card-content>
  </mat-card>
</div>
