<div
  fxLayoutAlign="center center"
  class="main-div">

  <mat-card fxFlex="35">
    <form fxLayoutAlign="stretch" fxLayout="column"
          class="div-commons"
          [formGroup]="loginForm"
          (ngSubmit)="login()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="username">
        <mat-error *ngIf="loginForm.get('username').errors?.error">
          {{loginForm.get('username').errors?.error}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="loginForm.get('password').errors?.error">
          {{loginForm.get('password').errors?.error}}
        </mat-error>
      </mat-form-field>
      <div *ngIf="errorMessage" class="mat-error" style="margin-bottom: 10px;">{{errorMessage}}</div>
      <button mat-raised-button type="submit" color="primary">Login</button>
    </form>
  </mat-card>
</div>
