

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" expanded="0">
    <mat-expansion-panel-header>
      <mat-panel-title>
      </mat-panel-title>
      <mat-panel-description>
        {{panelOpenState ? 'Close Services' : 'Show Services'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div fxLayout="row" fxLayoutAlign="space-around center" style="margin-bottom: 10px;">
      <mat-card
        class="mat-elevation-z5 cursor-pointer"
      [routerLink]="['hire-point']">
        <mat-card-header>
          <mat-icon mat-card-avatar>emoji_transportation</mat-icon>
          <mat-card-title>Hire Point</mat-card-title>
          <mat-card-content>
            <strong matBadge="1" matBadgeSize="medium"></strong>
          </mat-card-content>
        </mat-card-header>
      </mat-card>
      <mat-card
        class="mat-elevation-z5 cursor-pointer"
      [routerLink]="['manufacturer']">
        <mat-card-header>
          <mat-icon mat-card-avatar>business</mat-icon>
          <mat-card-title>Manufacturer</mat-card-title>
          <mat-card-content>
            <strong matBadge="1" matBadgeSize="medium"></strong>
          </mat-card-content>
        </mat-card-header>
      </mat-card>
      <mat-card
        class="mat-elevation-z5 cursor-pointer"
      [routerLink]="['model']">
        <mat-card-header>
          <mat-icon mat-card-avatar>toys</mat-icon>
          <mat-card-title>Model</mat-card-title>
          <mat-card-content>
            <strong matBadge="1" matBadgeSize="medium"></strong>
          </mat-card-content>
        </mat-card-header>
      </mat-card>
      <mat-card
        class="mat-elevation-z5 cursor-pointer"
        routerLink="/vehicle">
        <mat-card-header>
          <mat-icon mat-card-avatar>time_to_leave</mat-icon>
          <mat-card-title>Vehicle</mat-card-title>
          <mat-card-content>
            <strong matBadge="1" matBadgeSize="medium"></strong>
          </mat-card-content>
        </mat-card-header>
      </mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<router-outlet></router-outlet>
