/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.spacer {
  flex: 1 1 auto;
}
mat-icon {
  color: #5C6BC0;
}
.cursor-pointer {
  cursor: pointer;
}
.search-div {
  margin: 10px;
}
.search-form-field {
  width: 40%;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}
